/* 全局 CSS 变量（:root 伪类表示文档根元素，全局生效） */
:root {
    --content-border-radius: 14px;
    --content-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    --content-background-color:  linear-gradient(to bottom right, #ffffff, #ffffff);
    --default-font-size: 14px;
    --default-font-color: #333333;
    --default-page-background-1:linear-gradient(to bottom right, #bae0ff, #efdbff,#ffffff);
    --default-link-text-color: #9254de;
}